body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

nav.navbar {
  margin-bottom: 0px;
}
div.container {
  width: 100%;
}
div.control-panel {
  padding-top: 10px;
  background: url('images/background.jpg');
  background-size: cover;
}

div.panel-body h4 {
  margin: 0;
}
div.panel-body hr {
  margin: 7px 0;
}
div.attraction {
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 4px;
}
div.attractions-list {
  height: calc(100vh - 125px);
  overflow-y: auto;
}

div.data-panels {
  float: left;
  width: 38%;
  margin: 0 1%;
}
div.drag-panels {
  float: left;
  width: 58%;
}
div.attractions-panel {
  float: left;
  width: 48%;
  margin: 0 1%;
}
div.interests-panel {
  float: left;
  width: 48%;
  margin: 0 1%;
}