
  <button ng-click="test()">Test</button><br>
  <button ng-click="test1()">Test Date</button>

  <ul>
    <div ng-bind="symbolName"></div>
    <div class="data-points-block" ng-repeat="stock in stockData.stocks">
      <li class="time-stamp">{{stock.timeStamp}}</li>
      <li class="high">{{stock.high}}</li>
      <li class="low">{{stock.low}}</li>
      <li class="open">{{stock.open}}</li>
      <li class="close">{{stock.close}}</li>
      <li class="hour">{{stock.hour}}</li>
      <li class="date">{{stock.date}}/{{stock.month}}/{{stock.year}}</li>
    </div>
  </ul>

