.modal{
	margin: auto !important;
}
.click-column{
	cursor: pointer;
	padding: 2rem 1rem !important;
	margin: 0rem !important;
}
.padding-none{
	padding: 0rem !important;
}
.margin-none{
	margin: 0rem !important;
}
.margin-small{
	margin: 1rem !important;
}